*{
    /* margin:0; padding:0;  */
    font-family: 'Acme', sans-serif;
}
body{ 
    background-color: bisque;
    background-size: cover;
    height: 550px;
    width: 550px;
}
h1{
    justify-items: center;
    margin-left: 115px;
    text-shadow: 6px 4px white;
    font-size: 4rem;
    color: #ed2121;
}
.dice{
    justify-items: center;
}
